p{
    color: aqua;
    background-color: brown;
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
h1
{
    margin:20px auto;
    text-align: center;
    width: 500px;
}

#explore
{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 700px;
    margin:20px auto;
}

ol
{
    display: flex;
    margin: 10px;
}

li{
    margin: 10px;
}

.input
{
    font-size: x-large;
}

#bair
{
    font-size: x-large;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}