#product
{
    width: 400px;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
}

h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

