a{
    text-decoration: none;
}
h2
{
    background-color: rgb(231, 212, 39);
    margin: 20px;
    padding: 10px;
    color: black;
}
div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2:hover
{
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: 300ms;
}
body
{
    background: linear-gradient(to right, rgb(168, 236, 188),rgb(98, 207, 43));
}
h1
{
    color: rgb(51, 46, 2);
    font-size: 50px;
}